# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# GitHub Actions
.github/workflows/**  @SalesforceFoundation/release-engineering-reviewers
package.json          @SalesforceFoundation/release-engineering-reviewers
#ECCN:Open Source