.custom-percent-style {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}

.slds-form-element__label {
  display: none;
}

.THIS input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.THIS input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
